!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        .login-title
          %h1 Luminess Git Service
    %hr
    .container
      .content
        .row
          .col-md-7
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.default-brand-image.hidden-sm.hidden-xs
                = image_tag 'brand_logo.png'
              .brand_text.hidden-xs
                %h2 Based on Gitlab

                %p.lead
                  Unauthorized usage strictly prohibited.<br/>
                  Access repositories using :<br/>
                  %ul
                    %li The email of your LDAP account (<i>someone@jouve.fr</i> or <i>someone@luminess.eu</i>)<br/>
                    %li The login of an applicative LDAP account (<i>app_something</i>)<br/>
                    %li The email of a local account provided to you by Luminess

          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "Documentation", "http://doc.gitlab.com/"
        = link_to "About GitLab", "https://about.gitlab.com/"
        = link_to "About Luminess", "https://www.luminess.eu/"
