!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        .login-title
          %h1 Jouve Git Service
    %hr
    .container
      .content
        .row
          .col-md-7
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.default-brand-image.hidden-sm.hidden-xs
                = image_tag 'brand_logo.png'
              .brand_text.hidden-xs
                %h2 Based on Gitlab

                %p.lead
                  Unauthorized usage strictly prohibited.
                  Access repositories using your LDAP account, an applicative LDAP account, or a local account.

          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "Documentation", "http://doc.gitlab.com/"
        = link_to "About GitLab", "https://about.gitlab.com/"
        = link_to "About Jouve", "http://www.jouve.com/"
